body {
  width: 50%;
  margin: 0 auto;
  font-family: Apex, "Helvetica Neue", "HelveticaNeue", "Lucida Grande",  Helvetica, Arial, sans-serif;
 font-size: 125%;
}

h1 a {
  text-decoration: none;
  color: inherit;
}
