doctype
html.gss-not-ready
  head
    link(rel="stylesheet", href="/main.css")
    block head
      //- head goes here
  body
    block body
      //- body goes here
    block bodyscripts
      //- end of body scripts go here
